.footer {
	padding: 30px 35px 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	margin-top: auto;

	border-top: 1px solid var(--delimiter-color);

	.footer__copyright {
		p {
			color: var(--font-dimmed-color);
			font-size: 16px;
			text-align: center;
		}
	}

	.footer__refs {
		width: 100%;
		display: flex;
		justify-content: center;
		column-gap: 20px;
		row-gap: 15px;
		flex-wrap: wrap;

		> a {
			font-size: 16px;

			&.footer__ref_selected {
				color: var(--footer-selected-link);
				pointer-events: none;
			}

			&.footer__ref_disabled {
				opacity: 0.5;
				pointer-events: none;
			}
		}
	}
}
