.row {
	cursor: pointer;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 4px 0;

	&:nth-child(even) {
		background-color: var(--table-even-bg);
	}

	&::after {
		content: '';
		pointer-events: none;
		position: absolute;
		z-index: 1;
		right: 0;
		top: 0;
		width: var(--line-width, 0%);
		height: 100%;
		background: #16d1d61a;
	}

	&.sell_section {
		&::after {
			background: #ff67671a;
		}
	}

	td {
		position: relative;

		&:last-child {
			> p {
				text-align: right;
			}
		}

		> p {
			min-width: 80px;
			width: 100%;
			font-size: 12px;
			font-weight: 400;
		}
	}
}
