.input_panel__item {
	width: 100%;

	&_header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-bottom: 10px;
		border-bottom: 1px solid rgba(255, 255, 255, 0.1);
		margin-bottom: 10px;

		h5 {
			font-size: 16px;
			font-weight: 600;
		}

		.input_panel__fees {
			display: flex;
			justify-content: space-between;
			font-weight: 400;
			font-size: 12px;

			p {
				color: var(--table-th-color);
				font-weight: 400;
				font-size: 12px;
			}

			span {
				font-weight: 400;
				font-size: 12px;
			}
		}
	}

	&_body {
		display: flex;
		flex-direction: column;
		gap: 10px;

		button {
			margin-top: 10px;
		}

		> .buy_btn {
			background-color: #16d1d6;

			&:hover {
				background-color: #45dade;
			}
		}

		> .sell_btn {
			background-color: #ff6767;

			&:hover {
				background-color: #ff8585;
			}
		}

		.input_panel__range {
			margin-top: 10px;
		}

		.input_panel__expiration {
			display: flex;
			justify-content: space-between;
			gap: 20px;

			h6 {
				white-space: nowrap;
			}

			.expiration__dropdown {
				width: 100%;
			}

			> div:first-child {
				display: flex;
				align-items: center;
				gap: 6px;
			}

			@media screen and (max-width: 1500px) {
				flex-wrap: wrap;
			}

			@media screen and (max-width: 1000px) {
				flex-wrap: nowrap;
			}

			@media screen and (max-width: 530px) {
				flex-wrap: wrap;
			}
		}

		.labeled_input {
			display: flex;
			flex-direction: column;
			gap: 8px;

			h6 {
				font-size: 11px;
				font-family: 700;
				color: var(--table-th-color);
			}

			> div {
				width: 100%;
				position: relative;
				background-color: var(--bordered-input-bg);
				border: 1px solid var(--window-border-color);
				border-radius: 8px;
				display: flex;
				overflow: hidden;

				input {
					width: 100%;
					padding: 13px 15px;
					background-color: transparent;
					border: none;
					font-size: 16px;
					font-weight: 400;
				}

				.labeled_input__value {
					padding-right: 10px;
					display: flex;
					align-items: center;

					> p {
						color: var(--table-th-color);
						font-size: 12px;
						font-weight: 400;
					}
				}

				.labeled_input__currency {
					min-width: 82px;
					max-width: 150px;
					padding: 0 15px;
					background-color: var(--dex-input-currency);
					display: flex;
					align-items: center;
					justify-content: center;

					> p {
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
					}
				}
			}

			&.labeled_input__invalid > div {
				border-color: #ff6767;
			}

			@media screen and (max-width: 430px) {
				> div {
					input,
					.labeled_input__value > p,
					.labeled_input__currency > p {
						font-size: 13px;
					}

					input {
						padding: 19px 15px;
					}

					.labeled_input__currency {
						min-width: 70px;
					}
				}
			}
		}
	}
}

.buy-sell-switch {
	padding: 3px;
	height: 30px;
	display: flex;
	align-items: center;
	border-radius: 100px;
	border: 1px solid var(--dex-buy-sell-border);

	.buy-sell-switch__item {
		width: 50px;
		height: 100%;
		background-color: transparent;
		cursor: pointer;
		font-size: 14px;
		font-weight: 600;
		border-radius: 100px;

		&.item_selected-buy {
			background-color: #16d1d6;
			color: #ffffff;
		}

		&.item_selected-sell {
			background-color: #ff6767;
			color: #ffffff;
		}
	}
}

.apply__alert {
	display: flex;
	gap: 20px;
	align-items: center;

	&__content {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}

	&__button {
		max-width: 125px;
		background-color: var(--alert-btn-bg);
		color: #1f8feb;
		padding: 7px 32px;
		font-size: 12px;
		font-weight: 500;

		&:hover {
			background-color: var(--alert-btn-hover);
		}
	}

	h2 {
		font-size: 16px;
		font-weight: 600;
	}

	p {
		font-size: 14px;
		opacity: 0.7;
		margin-bottom: 5px;
	}
}
