.badge {
	position: relative;

	&__link {
		margin-top: 4px;
		cursor: pointer;
	}

	&__tooltip {
		padding: 10px;
		background-color: var(--trade-table-tooltip);
		font-size: 12px;

		&_text {
			font-size: 12px !important;
		}

		&_arrow {
			border-radius: 2px;
			left: 50%;
			background-color: var(--trade-table-tooltip) !important;
		}
	}
}
