[data-theme='dark'] {
	--main-bg-color: #0c0c3a;
	--table-header-font-color: rgba(213, 213, 226, 1);
	--table-header-bg: rgba(36, 36, 78, 1);
	--table-button-bg-hover: rgba(40, 40, 83, 1);
	--font-main-color: rgba(255, 255, 255, 1);
	--font-dimmed-color: rgba(141, 149, 174, 1);
	--delimiter-color: rgba(255, 255, 255, 0.1);
	--window-bg-color: rgba(15, 32, 85, 1);
	--dropdown-bg-color: rgba(17, 49, 107, 1);
	--dropdown-bg-hover: rgba(29, 59, 114, 1);
	--profile-widget-avatar: rgba(17, 49, 107, 1);
	--window-border-color: rgba(255, 255, 255, 0.3);
	--bordered-input-bg: rgba(255, 255, 255, 0.1);
	--row-header-bg: #154d91;
	--button-bordered-hover: rgba(255, 255, 255, 0.1);
	--alert-bg: rgba(35, 52, 103, 1);
	--switch-bg-color: rgba(15, 32, 85, 1);
	--switch-bg-hover: rgba(39, 54, 102, 1);
	--switch-disabled-bg-color: rgba(255, 255, 255, 0.1);
	--dimmed-btn-bg: rgba(255, 255, 255, 0.1);
	--dimmed-btn-hover: rgba(255, 255, 255, 0.3);
	--font-faded-color: rgba(255, 255, 255, 0.5);
	--slider-bg-color: #1d3b72;
	--blur-color: rgba(255, 255, 255, 0.05);
	--icon-bg-color: #0f1f54;
	--swap-btn-bg: rgba(31, 143, 235, 0.1);
	--table-bg-color: rgba(16, 16, 64, 1);
	--advices-bg-color: rgba(255, 255, 255, 0.1);
	--messenger-top-bg: #0f2055;
	--messenger-bottom-bg: #273666;
	--messenger-bg: #0f2055;
	--messenger-border: rgba(255, 255, 255, 0.1);
	--message-bg: rgba(255, 255, 255, 0.1);
	--custom-message-bg: transparent;
	--trade-table-tooltip: #1d3b72;
	--dex-offer-notification: #0f2055;
	--dex-panel-bg: #0f2055;
	--dex-panel-tooltip: #273666;
	--dex-buy-sell-border: #ffffff1a;
	--dex-input-currency: #39497c;
	--footer-selected-link: #ffffffcc;
	--table-th-color: #ffffffb2;
	--table-thead-bg: #24244e;
	--table-tbody-bg: #101040;
	--admin-table-border-color: #596f98;
	--alert-btn-bg: rgba(31, 143, 235, 0.2);
	--alert-btn-hover: rgba(31, 143, 235, 0.3);
	--table-even-bg: #0c1d4f;
	--table-tr-hover-color: #172a66;
	--dex-tooltip-bg: #11316b;
	--dex-tooltip-border-color: #1f8feb26;
}
