[data-theme='light'] {
	--main-bg-color: #fcfcfc;
	--table-header-font-color: rgba(79, 80, 114, 1);
	--table-header-bg: rgba(234, 240, 245, 1);
	--table-button-bg-hover: rgba(229, 233, 237, 1);
	--font-main-color: rgba(12, 12, 58, 1);
	--font-dimmed-color: rgba(12, 12, 58, 0.7);
	--delimiter-color: rgba(12, 12, 58, 0.1);
	--window-bg-color: rgba(252, 252, 252, 1);
	--dropdown-bg-color: rgba(219, 236, 250, 1);
	--dropdown-bg-hover: rgba(208, 230, 249, 1);
	--profile-widget-avatar: rgba(228, 228, 233, 1);
	--window-border-color: rgba(12, 12, 58, 0.2);
	--bordered-input-bg: rgba(244, 248, 252, 1);
	--row-header-bg: rgba(208, 230, 249, 1);
	--button-bordered-hover: rgba(31, 143, 235, 0.1);
	--alert-bg: rgba(210, 232, 251, 1);
	--switch-bg-color: rgba(219, 236, 250, 1);
	--switch-bg-hover: rgba(208, 230, 249, 1);
	--switch-disabled-bg-color: #e2e8f0;
	--dimmed-btn-bg: rgba(31, 143, 235, 0.1);
	--dimmed-btn-hover: rgba(31, 143, 235, 0.2);
	--font-faded-color: rgba(12, 12, 58, 0.5);
	--slider-bg-color: #b9c2d3;
	--blur-color: rgba(31, 143, 235, 0.05);
	--icon-bg-color: rgba(39, 54, 102, 1);
	--swap-btn-bg: rgba(228, 228, 233, 0.3);
	--table-bg-color: rgba(247, 248, 249, 1);
	--advices-bg-color: #fcfcfc;
	--messenger-top-bg: #fcfcfc;
	--messenger-bottom-bg: #fcfcfc;
	--messenger-bg: #f5f5f6;
	--messenger-border: rgba(12, 12, 58, 0.1);
	--message-bg: #e4e4e9;
	--custom-message-bg: #fcfcfc;
	--trade-table-tooltip: #b9c2d3;
	--dex-offer-notification: #f4f8fc;
	--dex-panel-bg: #dbecfa;
	--dex-panel-tooltip: #bedcf4;
	--dex-buy-sell-border: #0c0c3a1a;
	--dex-input-currency: #f4f8fc;
	--footer-selected-link: #0c0c3a;
	--table-th-color: #0c0c3ab2;
	--table-thead-bg: #dddddd;
	--table-tbody-bg: #ffffff;
	--admin-table-border-color: rgba(31, 143, 235, 0.2);
	--alert-btn-bg: rgba(31, 143, 235, 0.2);
	--alert-btn-hover: rgba(31, 143, 235, 0.3);
	--table-even-bg: #f2f5f9;
	--table-tr-hover-color: #dcf0ff;
	--dex-tooltip-bg: #eff8ff;
	--dex-tooltip-border-color: #1f8feb33;
	--dex-sell-percentage: #fceded;
	--dex-buy-percentage: #e5f8f8;
	--action-btn-bg: #e5f8f8;
}