.main {
	display: flex;
	flex-direction: column;

	@media screen and (max-width: 600px) {
		margin-top: -50px;
	}

	> :first-child {
		padding-bottom: 40px;
		border-bottom: 1px solid var(--delimiter-color);
	}

	table {
		.alias {
			display: flex;
			align-items: center;
			gap: 4px;

			p {
				font-size: 14px;
			}

			path {
				fill: none;
			}

			&__tooltip {
				position: absolute;
				top: 30px;
				left: 5%;
				background-color: var(--trade-table-tooltip);
				font-size: 12px;

				&_arrow {
					border-radius: 2px;
					left: 50%;
					background-color: var(--trade-table-tooltip);
				}
			}
		}
	}

	.trading__title__wrapper {
		display: flex;
		flex-direction: column;
		gap: 25px;
		position: relative;
		border-bottom: 1px solid var(--delimiter-color);

		.currency__stats__wrapper {
			max-width: 900px;
			display: flex;
			flex-wrap: wrap;
			gap: 20px;

			> :nth-child(2),
			:nth-child(4) {
				padding-left: 40px;
				border-left: 1px solid var(--delimiter-color);
			}

			.trading__stat__item {
				padding-top: 10px;
				padding-bottom: 10px;
				display: flex;
				flex-direction: column;
				gap: 16px;
				width: 47%;

				> div {
					display: flex;
					align-items: center;

					p {
						white-space: nowrap;
					}

					&:first-child {
						p {
							color: var(--font-dimmed-color);
						}

						gap: 6px;
					}

					&:last-child {
						gap: 10px;

						p:first-child {
							font-weight: 600;
						}

						.coefficient__green {
							color: #16d1d6;
						}

						.coefficient__red {
							color: #ff6767;
						}
					}
				}
			}

			@media screen and (min-width: 1700px) {
				flex-wrap: nowrap;
				gap: 40px;
				position: absolute;
				transform: translateX(-50%);
				left: 54%;

				> div {
					width: auto !important;
				}

				> :nth-child(3) {
					padding-left: 40px;
					border-left: 1px solid var(--delimiter-color);
				}
			}

			@media screen and (max-width: 600px) {
				gap: 0;
				flex-wrap: nowrap;
				flex-direction: column;

				> div {
					width: 100% !important;
					padding-left: 0 !important;
					border-left: none !important;

					padding: 20px 0 !important;
					border-bottom: 1px solid var(--delimiter-color);

					&:last-child {
						border-bottom: none;
						padding-bottom: 0 !important;
						margin-bottom: -20px;
					}
				}
			}
		}

		.trading__currency__wrapper {
			display: flex;
			flex-direction: column;
			gap: 15px;

			.trading__currency__wrapper_top {
				display: flex;
				align-items: center;
				gap: 16px;

				> div:first-child {
					width: 68px;
					height: 68px;
					display: flex;
					align-items: center;
					justify-content: center;
					background-color: var(--icon-bg-color);
					border-radius: 50%;

					img {
						width: 40px;
						height: auto;
					}
				}

				> div:last-child {
					display: flex;
					flex-direction: column;
					justify-content: space-between;

					> p:first-child {
						font-size: 40px;
						font-weight: 500;

						span {
							font-size: 40px;
							color: var(--font-dimmed-color);
						}
					}

					.trading__currency__rate {
						display: flex;
						align-items: center;
						gap: 10px;

						> div {
							background-color: var(--font-dimmed-color);
							width: 1px;
							height: 16px;
						}

						> p {
							font-weight: 600;
						}

						.trading__currency__rate_usd {
							color: var(--font-dimmed-color);
						}
					}
				}

				@media screen and (max-width: 400px) {
					> div:first-child {
						width: 48px;
						height: 48px;

						> img {
							scale: 0.7;
						}
					}

					> div:last-child {
						> p:first-child {
							font-size: 24px;

							> span {
								font-size: 24px;
							}
						}
					}
				}
			}

			.trading__currency__wrapper_bottom {
				display: flex;
				flex-direction: column;
				gap: 5px;
			}
		}
	}

	.trading__top__wrapper {
		display: flex;
		gap: 20px;
		padding-bottom: 40px;

		> div:first-child {
			padding: 30px;
			width: 50%;
			margin-top: 25px;
			border-radius: 10px;
			border: 1px solid var(--delimiter-color);
			background: var(--window-bg-color);
		}

		@media screen and (max-width: 1000px) {
			flex-direction: column;

			> * {
				width: 100% !important;
			}
		}
	}

	.trading__chart__wrapper {
		width: 100%;
		overflow: hidden;
		display: flex;
		flex-direction: column;

		&.mobile {
			display: none;
		}

		.trading__chart__preloader {
			height: 100%;
			min-height: 545px;
		}

		.trading__chart__settings {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 25px 0;
			border-bottom: 1px solid var(--delimiter-color);

			.trading__chart__dropdown {
				width: 254px;
			}
		}

		@media screen and (max-width: 1000px) {
			&.mobile {
				display: flex;
			}

			&.desktop {
				display: none;
			}
		}
	}

	.trading__info {
		display: flex;
		gap: 40px;

		> * {
			width: 100%;
		}

		> div {
			padding: 30px;

			background: var(--window-bg-color);
			border: 1px solid var(--delimiter-color);
			border-radius: 10px;

			> :first-child {
				margin-right: 30px;
				padding-bottom: 20px;
				border-bottom: 1px solid var(--delimiter-color);
			}

			> :last-child {
				padding-top: 30px;
			}
		}

		.orders__preloader {
			height: 465px;
			padding-right: 30px;
		}

		.trading__orders_panel {
			width: 100%;

			padding-right: 0;

			.orders-panel__header {
				display: flex;
				justify-content: space-between;
				flex-wrap: wrap;
				column-gap: 15px;
				row-gap: 10px;

				.orders-panel__header__select {
					overflow: initial;
				}

				.orders-panel__header_left {
					display: flex;
					align-items: center;
					flex-wrap: wrap;
					column-gap: 10px;
					row-gap: 5px;

					.header__delimiter {
						width: 2px;
						height: 18px;
						margin-left: 17px;
						margin-right: 14px;
						background-color: #525e85;
					}

					.header__orders_buy,
					.header__orders_sell {
						padding: 6px 12px;
						border-radius: 8px;

						> p {
							font-size: 14px;
							font-weight: 400;
						}
					}

					.header__orders_buy {
						border: 1px solid #16d1d6;

						> p {
							color: #16d1d6;
						}
					}

					.header__orders_sell {
						border: 1px solid #ff6767;

						> p {
							color: #ff6767;
						}
					}

					> div:first-child {
						display: flex;
						align-items: center;

						> p {
							font-size: 21px;
							font-weight: 500;
							color: var(--font-dimmed-color);
						}
					}

					.header__stats {
						display: flex;
						align-items: center;
						gap: 5px;

						.header__summary-funds {
							padding: 6px 12px;
							border: 1px solid var(--font-dimmed-color);
							border-radius: 8px;

							> p,
							> p > span {
								font-size: 14px;
								color: var(--font-dimmed-color);
							}

							> p {
								display: flex;
								gap: 5px;
							}

							> p > span {
								display: inline-block;
								max-width: 70px;
								white-space: nowrap;
								overflow: hidden;
								text-overflow: ellipsis;
							}
						}
					}
				}

				@media screen and (max-width: 640px) {
					.orders-panel__header_left {
						> div:first-child {
							> p {
								font-size: 14px;
							}
						}

						.header__delimiter {
							margin-left: 12px;
							margin-right: 12px;
						}
					}
				}
			}

			> div:last-child {
				display: flex;
				flex-direction: column;
			}

			table {
				width: 100%;
				padding-right: 12px;

				thead {
					display: flex;
					width: 100%;
					padding-right: 18px;
					margin-bottom: 8px;

					tr {
						width: 100%;
						display: flex;

						th {
							width: 100%;
							font-size: 12px;
							font-weight: 700;
							text-align: start;
							color: var(--table-th-color);

							br {
								display: none;
							}

							&:first-child {
								max-width: 180px;
							}

							&:last-child {
								max-width: 10px;
							}
						}
					}
				}

				tbody {
					height: 465px;
					display: flex;
					flex-direction: column;
					overflow: auto;
					scrollbar-gutter: stable;
					padding-right: 12px;
					padding-bottom: 50px;

					tr {
						position: relative;
						width: 100%;
						display: flex;
						padding: 10px 0;
						align-items: center;

						&::after {
							content: '';
							pointer-events: none;
							position: absolute;
							z-index: 1;
							right: 0;
							top: 0;
							width: var(--line-width, 0%);
							height: 100%;
							background: #16d1d61a;
						}

						&.sell_section {
							&::after {
								background: #ff67671a;
							}
						}

						&:not(:last-child) {
							border-bottom: 1px solid var(--delimiter-color);
						}

						td {
							flex: 1;
							min-width: 0;
							position: relative;

							> p {
								overflow: hidden;
								text-overflow: ellipsis;
								line-height: 1;
								font-size: 14px;

								> span {
									margin: 5px;
									line-height: 1;
									vertical-align: middle;
									color: var(--font-dimmed-color);
									font-size: 12px;
								}
							}

							&:first-child {
								max-width: 180px;
								display: flex;
								flex-direction: column;
								gap: 3px;
							}

							&:last-child {
								text-align: end;
								max-width: 10px;
								margin-right: 10px;
							}

							svg:not(.stroked) * {
								fill: transparent;
							}

							svg {
								transform: scale(1.2);
							}

							.orders_table__buy {
								&:hover {
									svg path {
										stroke: #56c2c6a8;
									}
								}
							}

							.orders_table__sell {
								svg {
									path {
										stroke: #ff6767;
									}
								}

								&:hover {
									svg path {
										stroke: #ff8585;
									}
								}
							}
						}
					}
				}
			}
		}

		.trading__user__orders {
			padding-right: 0;

			th {
				br {
					display: none;
				}
			}

			> div:first-child {
				margin-right: 30px;
				display: flex;
				align-items: center;
				gap: 10px;

				> div {
					padding: 5px 10px;
					background-color: #ff6767;
					border-radius: 100px;

					> p {
						font-size: 12px;
						font-weight: 700;
						color: #fff;
					}
				}
			}

			> div:last-child {
				padding-right: 12px;
			}

			table {
				width: 100%;
				padding-right: 33px;

				thead {
					display: flex;
					width: 100%;
					padding-left: 15px;
					margin-bottom: 8px;

					tr {
						width: 100%;
						display: flex;

						th {
							width: 100%;
							font-size: 12px;
							font-weight: 700;
							text-align: start;
							color: var(--table-th-color);

							&:first-child {
								max-width: 112px;
								display: flex;
								flex-direction: column;
								gap: 3px;
							}

							&:nth-child(3) {
								width: 120%;
							}

							&:nth-last-child(2) {
								max-width: 50px;
							}

							&:last-child {
								max-width: 80px;
							}
						}
					}
				}

				tbody {
					p,
					a {
						font-size: 14px;
					}
				}
			}

			.trading__right__tables {
				padding-bottom: 50px;
				scrollbar-gutter: stable;
				padding-right: 12px;
				height: 465px;
				overflow: auto;

				table {
					width: 100%;
					padding: 0 15px;

					&.trading__apply__table {
						border: 1px solid rgba(31, 143, 235, 1);
						border-radius: 10px;
						background: var(--blur-color);
					}

					tbody {
						display: flex;
						flex-direction: column;

						> div:first-child {
							padding-left: 15px;
							padding-right: 10px;
						}

						.stats__table__incoming {
							padding-left: 15px;
							padding-right: 10px;
							border: 1px solid rgba(31, 143, 235, 1);
							border-radius: 10px;
							background: rgba(255, 255, 255, 0.05);
						}

						tr {
							width: 100%;
							display: flex;
							align-items: center;
							padding: 10px 0;

							&:not(:last-child) {
								border-bottom: 1px solid var(--delimiter-color);
							}

							td {
								width: 100%;
								min-width: 0;
								position: relative;

								> p {
									overflow: hidden;
									text-overflow: ellipsis;
									line-height: 1;

									> span {
										margin: 5px;
										vertical-align: middle;
										line-height: 1;
										color: var(--font-dimmed-color);
										font-size: 12px;
										margin: 5px;
									}
								}

								&:first-child {
									max-width: 112px;
									display: flex;
									flex-direction: column;
									gap: 3px;
								}

								&:nth-child(3) {
									width: 120%;
								}

								&:nth-last-child(2) {
									max-width: 50px;
								}

								&:last-child {
									text-align: end;
									max-width: 80px;
								}
							}
						}
					}
				}
			}
		}

		.orders__message {
			width: 100%;
			height: 465px;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			gap: 20px;

			&.all__orders__msg {
				padding-right: 30px;
			}

			&.user__orders__msg {
				padding-right: 18px;
			}

			@media screen and (max-width: 550px) {
				&.all__orders__msg {
					padding-right: 20px;
				}

				&.user__orders__msg {
					padding-right: 13px;
				}
			}

			> h6 {
				color: var(--font-dimmed-color);
			}
		}
	}

	.table__tooltip {
		position: absolute;
		top: 30px;
		left: 20%;
		transform: translateX(-50%);
		background-color: var(--trade-table-tooltip);

		> .table__tooltip_arrow {
			background-color: var(--trade-table-tooltip);
		}
	}

	.table__tooltip_right {
		position: absolute;
		top: 30px;
		left: 2%;
		background-color: var(--trade-table-tooltip);

		> .table__tooltip_arrow {
			left: 40px;
			background-color: var(--trade-table-tooltip);
		}
	}

	.table__tooltip_end {
		position: absolute;
		top: 30px;
		left: -50%;
		background-color: var(--trade-table-tooltip);

		> .table__tooltip_arrow {
			border-radius: 2px;
			left: 10%;
			background-color: var(--trade-table-tooltip);
		}
	}

	.badge {
		width: fit-content;
		padding: 1px 4px;
		padding-right: 8px;
		display: flex;
		align-items: center;
		gap: 2px;
		border-radius: 100px;
		background: radial-gradient(100% 246.57% at 0% 0%, #a366ff 0%, #601fff 100%);

		> img {
			height: 13px;
			width: auto;
		}

		> span {
			font-size: 10px;
			font-weight: 600;
		}

		&.high {
			padding: 2px 4px;
			background: radial-gradient(100% 188.88% at 0% 0%, #16d1d6 0%, #274cff 100%);
		}
	}

	@media screen and (max-width: 1750px) {
		.trading__info {
			flex-direction: column;

			> div:last-child {
				width: 100%;
				min-width: 100%;
			}
		}
	}

	@media screen and (max-width: 900px) {
		.trading__orders_panel {
			table {
				th,
				td {
					&:nth-child(1) {
						padding-right: 20px;
					}
				}
			}
		}

		.trading__user__orders {
			> div:last-child {
				table {
					td,
					th {
						&:first-child {
							display: none;
						}
					}
				}
			}
		}
	}

	@media screen and (max-width: 700px) {
		.trading__user__orders {
			table {
				td > a,
				td > p {
					font-size: 14px;

					> span {
						display: none;
					}
				}

				td,
				th {
					&:nth-last-child(4) {
						display: none;
					}
				}

				tbody {
					tr {
						padding: 12px 0 !important;
					}
				}
			}
		}

		.trading__orders_panel {
			table {
				td > a,
				td > p {
					font-size: 14px;

					> span {
						display: none;
					}
				}

				th,
				td {
					&:nth-last-child(3) {
						display: none;
					}
				}

				tbody {
					tr {
						padding: 12px 0 !important;
					}
				}
			}
		}
	}

	@media screen and (max-width: 600px) {
		.trading__user__orders th br {
			display: block !important;
		}
	}

	@media screen and (max-width: 550px) {
		.trading__top__wrapper {
			> div:first-child {
				padding: 20px !important;
			}
		}

		.trading__info {
			> div {
				padding: 20px 0;
			}

			.trading__user__orders {
				width: 100%;
				min-width: 100%;
				padding: 20px;
				padding-right: 0;

				> div:first-child {
					margin-right: 20px;
				}

				> div:last-child {
					padding-right: 7px !important;

					> table:first-child {
						padding-right: 26px !important;
					}
				}

				table td {
					font-size: 14px;
				}

				thead {
					padding-left: 10px !important;

					th {
						font-size: 11px;
					}
				}

				.trading__right__tables {
					padding-right: 7px !important;

					table {
						padding: 0 10px !important;
					}
				}
			}

			.trading__orders_panel {
				padding-left: 20px !important;

				thead {
					padding-right: 13px !important;
				}

				> div:first-child {
					margin-right: 20px;
				}

				> :last-child {
					flex-direction: column;
				}

				> input[type='number'],
				> button {
					padding-top: 13px !important;
					padding-bottom: 13px !important;
				}

				> div:first-child {
					h5 {
						span {
							display: none;
						}
					}
				}

				table {
					padding-right: 7px !important;

					thead {
						tr th br {
							display: block !important;
						}
					}

					tbody {
						padding-right: 7px !important;
					}
				}
			}
		}

		.trading__chart__wrapper {
			.trading__chart__settings {
				padding-top: 40px;
				flex-direction: column-reverse;
				align-items: flex-start !important;
				gap: 40px;

				.trading__chart__dropdown {
					width: 100%;

					> div:first-child {
						height: 48px;
					}
				}
			}
		}
	}

	@media screen and (max-width: 450px) {
		.trading__info {
			.trading__orders_panel {
				.orders__preloader {
					padding-right: 20px !important;
				}

				table {
					td > a,
					td > p,
					th {
						font-size: 11 px;
					}

					thead tr th {
						font-size: 9px;
					}
				}
			}

			.trading__user__orders {
				table {
					thead tr th {
						font-size: 9px;
					}

					tbody {
						td > p,
						td > a {
							font-size: 11px;
						}
					}
				}
			}
		}
	}
}
