.trading {
	padding-inline: 60px;
	padding-top: 20px;
	display: flex;
	flex-direction: column;

	@media screen and (max-width: 1600px) {
		padding-inline: 40px;
	}

	@media screen and (max-width: 1200px) {
		padding-inline: 20px;
	}

	&__top {
		margin-top: 20px;
		display: flex;
		gap: 20px;
		padding-bottom: 20px;
		height: 40dvh;
		min-height: 380px;
		max-height: 500px;

		&_chart {
			width: 100%;
			overflow: hidden;
			display: flex;
			flex-direction: column;

			.settings {
				display: flex;
				align-items: center;
				justify-content: space-between;

				&__dropdown {
					width: 250px;
					height: 48px;

					@media screen and (max-width: 1360px) {
						width: 200px;
					}
				}
			}
		}
	}

	&__info {
		display: flex;
		gap: 20px;
		margin-bottom: 40px;

		&_createOrders {
			display: flex;
			gap: 20px;
			width: 100%;
		}
	}
}
