.empty {
	width: 100%;
	margin-top: 40px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 20px;

	&__text {
		color: var(--font-dimmed-color);
	}

	&__icon {
		transform: scale(0.8);
	}
}
