.allTrades {
	max-width: 415px;
	width: 100%;
	padding: 5px;
	background: var(--window-bg-color);
	border: 1px solid var(--delimiter-color);
	border-radius: 10px;

	@media screen and (max-width: 1480px) {
		max-width: 340px;
	}

	&__header {
		border-bottom: 1px solid var(--delimiter-color);
		display: flex;
		align-items: center;
		gap: 22px;
		padding: 10px;
		padding-bottom: 0;

		&_btn {
			padding-bottom: 7px;
			border-top-left-radius: 10px;
			border-top-right-radius: 10px;
			font-size: 16px;
			border-bottom: 2px solid transparent;
			font-weight: 600;
			background-color: transparent !important;
			cursor: pointer;

			&.active {
				border-color: #1f8feb;
			}

			&:hover {
				color: #1f8feb;
			}
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		padding-top: 10px;

		table {
			width: 100%;

			thead {
				display: flex;
				width: 100%;
				padding-inline: 10px;
				margin-bottom: 9px;

				tr {
					width: 100%;
					display: flex;
					justify-content: space-between;

					th {
						min-width: 80px;
						font-size: 11px;
						font-weight: 700;
						text-align: start;
						color: var(--table-th-color);

						&:last-child {
							text-align: right;
						}
					}
				}
			}

			tbody {
				height: 29dvh;
				min-height: 265px;
				max-height: 380px;
				display: flex;
				flex-direction: column;
				overflow: auto;
				padding: 10px;
				padding-bottom: 20px;

				tr {
					position: relative;
					display: flex;
					align-items: center;
					justify-content: space-between;
					width: 100%;
					padding: 4px 0;

					&:nth-child(even) {
						background-color: var(--table-even-bg);
					}

					td {
						position: relative;

						&:last-child {
							> p {
								text-align: right;
							}
						}

						> p {
							min-width: 80px;
							width: 100%;
							font-size: 12px;
							font-weight: 400;
						}
					}
				}
			}
		}
	}
}
