.labeledInput {
	display: flex;
	flex-direction: column;
	gap: 8px;

	&__label {
		font-size: 11px;
		font-family: 700;
		color: var(--table-th-color);
	}

	&__wrapper {
		width: 100%;
		position: relative;
		background-color: var(--bordered-input-bg);
		border: 1px solid var(--window-border-color);
		border-radius: 8px;
		display: flex;
		overflow: hidden;

		&.invalid {
			border-color: #ff6767;
		}

		input {
			width: 100%;
			padding: 13px 15px;
			background-color: transparent;
			border: none;
			font-size: 16px;
			font-weight: 400;
		}
	}

	&__value {
		padding-right: 10px;
		display: flex;
		align-items: center;

		> p {
			color: var(--table-th-color);
			font-size: 12px;
			font-weight: 400;
		}
	}

	&__currency {
		min-width: 82px;
		max-width: 150px;
		padding: 0 15px;
		background-color: var(--dex-input-currency);
		display: flex;
		align-items: center;
		justify-content: center;

		> p {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}
}
